<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../public/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            
            <span class="meta"><%= post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            <%= post.detail %>
         </p>
        </div>
      </div>

      <div class="row mb-5 pb-5">
      
        <div class="col-xl-4 col-lg-5">
          <!-- Share box -->
          <div class="tm-bg-gray tm-share-box">
            <div class="text-center">
              <a href="/posts/edit/<%= post._id %>" class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>Update Details</span></a>	
            </div>	
            <div class="text-center">
              <a href="/posts/<%= post._id %>?_method=DELETE" class="btn btn-danger p-0 tm-btn-animate tm-btn-download tm-icon-download"
              onclick="return confirm('ARE YOU SURE?')"><span>Delete Photo</span></a>	
            </div>								
          </div>
        </div>
      </div>
    </div>
    
  </article>
  

  <hr>
<!-- Footer -->
  
<%- include('partials/_footer') -%>


</body>

</html>
